@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-editor {
  font-size: 1rem;
}

.post-content p,
.post-content ul,
.post-content ol {
  margin-bottom: 0.5rem;
}

.post-content h1,
.post-content h2,
.post-content h3 {
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: 0.5rem 0;
}
.post-content h1 {
  font-size: 1.875rem;
}

.post-content h2 {
  font-size: 1.5rem;
}

.post-content h3 {
  font-size: 1.125rem;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.post-content ul {
  list-style-type: disc;
}

.post-content ol {
  list-style-type: decimal;
}

.post-content li {
  margin-left: 1.5rem;
}
